all_flow.json
[{"id":"fb3ec933.8629b8","type":"tab","label":"UDP_BroadCast","disabled":false,"info":""},{"id":"8b34223a.43638","type":"tab","label":"一键灯光控制","disabled":false,"info":""},{"id":"cf6887e2.8d8a28","type":"tab","label":"Group_API","disabled":false,"info":""},{"id":"bdbf5df4.fe4a2","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"8c459cb2.bc448","type":"server","z":"","name":"Home Assistant"},{"id":"72145724.077d28","type":"server","z":"","name":"Home Assistant"},{"id":"54853184.70f81","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f263b8b1.be24d8","type":"ip","z":"fb3ec933.8629b8","name":"ip","https":false,"timeout":"5000","internalIPv4":true,"internalIPv6":false,"publicIPv4":false,"publicIPv6":false,"x":660,"y":360,"wires":[["7314b11c.666d"]]},{"id":"c9bb60c.80ea7a","type":"inject","z":"fb3ec933.8629b8","name":"","topic":"interval_ip","payload":"true","payloadType":"bool","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":360,"wires":[["f263b8b1.be24d8"]]},{"id":"7314b11c.666d","type":"template","z":"fb3ec933.8629b8","name":"server","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"server\":\"{{payload.internalIPv4}}\"}","output":"str","x":830,"y":360,"wires":[["88af9fee.b89ea"]]},{"id":"88af9fee.b89ea","type":"udp out","z":"fb3ec933.8629b8","name":"server ip broadcast","addr":"255.255.255.255","iface":"","port":"5000","ipv":"udp4","outport":"","base64":false,"multicast":"broad","x":1070,"y":360,"wires":[]},{"id":"dfca5ea.ab5c4a","type":"server-events","z":"8b34223a.43638","name":"","server":"8c459cb2.bc448","event_type":"xiaomi_aqara.click","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":350,"y":140,"wires":[["5b9bf249.8ae2ec"]]},{"id":"5b9bf249.8ae2ec","type":"switch","z":"8b34223a.43638","name":"click_type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"long_click_press","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":620,"y":140,"wires":[["d64b0b71.4cb228"],["3541b0c7.1856d"],["95a62f09.6ff5a"]]},{"id":"3541b0c7.1856d","type":"api-call-service","z":"8b34223a.43638","name":"part on","server":"8c459cb2.bc448","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.wo_shi_tai_deng","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":160,"wires":[[]]},{"id":"d64b0b71.4cb228","type":"api-call-service","z":"8b34223a.43638","name":"all off","server":"8c459cb2.bc448","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.wo_shi_tai_deng","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":60,"wires":[[]]},{"id":"95a62f09.6ff5a","type":"api-call-service","z":"8b34223a.43638","name":"all on","server":"8c459cb2.bc448","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.gateway_light_04cf8c914c50, light.wo_shi_tai_deng","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":850,"y":240,"wires":[[]]},{"id":"e5e9003.895a","type":"inject","z":"cf6887e2.8d8a28","name":"","topic":"read","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":740,"wires":[["b32eed99.92bc8"]]},{"id":"6822bfa6.6ffb6","type":"file","z":"cf6887e2.8d8a28","name":"","filename":"groups.json","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":710,"y":740,"wires":[[]]},{"id":"a625fcdf.2ba4f","type":"http in","z":"cf6887e2.8d8a28","name":"","url":"/groups","method":"get","upload":false,"swaggerDoc":"","x":280,"y":300,"wires":[["957ed7e0.80d718"]]},{"id":"b32eed99.92bc8","type":"function","z":"cf6887e2.8d8a28","name":"","func":"msg.payload = {count:0};\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":740,"wires":[["6822bfa6.6ffb6"]]},{"id":"21852873.e6ef68","type":"file in","z":"cf6887e2.8d8a28","name":"","filename":"groups.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":470,"y":640,"wires":[["265ca13f.0473ae"]]},{"id":"98ccbde6.5734e","type":"inject","z":"cf6887e2.8d8a28","name":"","topic":"read","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":640,"wires":[["21852873.e6ef68"]]},{"id":"265ca13f.0473ae","type":"debug","z":"cf6887e2.8d8a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":640,"wires":[]},{"id":"957ed7e0.80d718","type":"file in","z":"cf6887e2.8d8a28","name":"","filename":"groups.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":510,"y":300,"wires":[["bca98591.c3db98"]]},{"id":"bca98591.c3db98","type":"http response","z":"cf6887e2.8d8a28","name":"","statusCode":"","headers":{},"x":750,"y":260,"wires":[]},{"id":"bf5d732d.550dc","type":"http in","z":"cf6887e2.8d8a28","name":"","url":"/groups","method":"post","upload":false,"swaggerDoc":"","x":280,"y":360,"wires":[["f75beb35.fe8348"]]},{"id":"73e035e7.4cd6fc","type":"file","z":"cf6887e2.8d8a28","name":"","filename":"groups.json","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":770,"y":400,"wires":[[]]},{"id":"f75beb35.fe8348","type":"function","z":"cf6887e2.8d8a28","name":"Check Data","func":"try {\n    var obj=JSON.parse(msg.payload);\n    if(typeof obj == 'object' && obj )\n    {\n        return [msg, msg];\n    }\n    else\n    {\n        msg.payload=\"invalid data format\";\n        return [msg, null];\n    }\n} \ncatch(e) {\n    msg.payload=\"invalid data format\";\n    return [msg, null];\n}\n","outputs":2,"noerr":0,"x":510,"y":360,"wires":[["d2e77b79.dc12d8"],["73e035e7.4cd6fc","265ca13f.0473ae"]]},{"id":"d2e77b79.dc12d8","type":"http response","z":"cf6887e2.8d8a28","name":"","statusCode":"","headers":{},"x":750,"y":340,"wires":[]}]