node-red-group-api.json
[
  {
    "id": "edcffd27.18dc2",
    "type": "tab",
    "label": "Groups",
    "disabled": false,
    "info": ""
  },
  {
    "id": "1ad3b0e0.c1ab5f",
    "type": "inject",
    "z": "edcffd27.18dc2",
    "name": "",
    "topic": "read",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 280,
    "y": 740,
    "wires": [["9c9c7cf2.11297"]]
  },
  {
    "id": "2a975ec.67ddba2",
    "type": "file",
    "z": "edcffd27.18dc2",
    "name": "",
    "filename": "groups.json",
    "appendNewline": false,
    "createDir": false,
    "overwriteFile": "true",
    "encoding": "none",
    "x": 710,
    "y": 740,
    "wires": [[]]
  },
  {
    "id": "e6e399fd.4bbe48",
    "type": "http in",
    "z": "edcffd27.18dc2",
    "name": "",
    "url": "/groups",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 280,
    "y": 300,
    "wires": [["b77ed32c.78d28"]]
  },
  {
    "id": "9c9c7cf2.11297",
    "type": "function",
    "z": "edcffd27.18dc2",
    "name": "",
    "func": "msg.payload = {count:0};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 490,
    "y": 740,
    "wires": [["2a975ec.67ddba2"]]
  },
  {
    "id": "32656091.030ba",
    "type": "file in",
    "z": "edcffd27.18dc2",
    "name": "",
    "filename": "/share/groups.json",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "x": 490,
    "y": 640,
    "wires": [["573d227.018d4dc"]]
  },
  {
    "id": "24153916.b4cec6",
    "type": "inject",
    "z": "edcffd27.18dc2",
    "name": "",
    "topic": "read",
    "payload": "true",
    "payloadType": "bool",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 260,
    "y": 640,
    "wires": [["32656091.030ba"]]
  },
  {
    "id": "573d227.018d4dc",
    "type": "debug",
    "z": "edcffd27.18dc2",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 730,
    "y": 640,
    "wires": []
  },
  {
    "id": "b77ed32c.78d28",
    "type": "file in",
    "z": "edcffd27.18dc2",
    "name": "",
    "filename": "/share/groups.json",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "x": 530,
    "y": 300,
    "wires": [["a776a22b.507d7"]]
  },
  {
    "id": "a776a22b.507d7",
    "type": "http response",
    "z": "edcffd27.18dc2",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 750,
    "y": 260,
    "wires": []
  },
  {
    "id": "90d9b502.12be98",
    "type": "http in",
    "z": "edcffd27.18dc2",
    "name": "",
    "url": "/groups",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 280,
    "y": 360,
    "wires": [["9b10f018.9659"]]
  },
  {
    "id": "7d1ba61.f59bb58",
    "type": "file",
    "z": "edcffd27.18dc2",
    "name": "",
    "filename": "/share/groups.json",
    "appendNewline": false,
    "createDir": false,
    "overwriteFile": "true",
    "encoding": "none",
    "x": 790,
    "y": 400,
    "wires": [[]]
  },
  {
    "id": "9b10f018.9659",
    "type": "function",
    "z": "edcffd27.18dc2",
    "name": "Check Data",
    "func": "try {\n    var obj=JSON.parse(msg.payload);\n    if(typeof obj == 'object' && obj )\n    {\n        return [msg, msg];\n    }\n    else\n    {\n        msg.payload=\"invalid data format\";\n        return [msg, null];\n    }\n} \ncatch(e) {\n    msg.payload=\"invalid data format\";\n    return [msg, null];\n}\n",
    "outputs": 2,
    "noerr": 0,
    "x": 510,
    "y": 360,
    "wires": [["711397dc.341428"], ["7d1ba61.f59bb58"]]
  },
  {
    "id": "711397dc.341428",
    "type": "http response",
    "z": "edcffd27.18dc2",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 750,
    "y": 340,
    "wires": []
  }
]
