node-red-modbusHAVC.json
[
  {
    "id": "60c386e2.489f18",
    "type": "tab",
    "label": "Modbus_HAVC",
    "disabled": false,
    "info": ""
  },
  {
    "id": "8d2a24ae.7e73c8",
    "type": "modbus-read",
    "z": "60c386e2.489f18",
    "name": "MB_Read",
    "topic": "Holding",
    "showStatusActivities": false,
    "logIOActivities": false,
    "showErrors": false,
    "unitid": "",
    "dataType": "HoldingRegister",
    "adr": "0",
    "quantity": "15",
    "rate": "3",
    "rateUnit": "s",
    "delayOnStart": false,
    "startDelayTime": "",
    "server": "c48167bc.b56978",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "x": 330,
    "y": 200,
    "wires": [[], ["e2994b01.0e0d68", "be440571.36cd88"]]
  },
  {
    "id": "69016187.e1125",
    "type": "debug",
    "z": "60c386e2.489f18",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 710,
    "y": 520,
    "wires": []
  },
  {
    "id": "211c5cf5.50f9d4",
    "type": "mqtt out",
    "z": "60c386e2.489f18",
    "name": "",
    "topic": "",
    "qos": "",
    "retain": "",
    "broker": "3bfc1b14.9d52b4",
    "x": 850,
    "y": 360,
    "wires": []
  },
  {
    "id": "e2994b01.0e0d68",
    "type": "function",
    "z": "60c386e2.489f18",
    "name": "state",
    "func": "msg.payload={\"state\":{\"mode\":\"dry\",\"temp\":23.5,\"fan\":\"低风\"}};\nmsg.topic=\"csro/aabbccddee01/airsys/state\";\nmsg.qos=1;\nmsg.retain=true;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 550,
    "y": 340,
    "wires": [["211c5cf5.50f9d4"]]
  },
  {
    "id": "be440571.36cd88",
    "type": "function",
    "z": "60c386e2.489f18",
    "name": "state",
    "func": "msg.payload=\"online\";\nmsg.topic=\"csro/aabbccddee01/airsys/available\";\nmsg.qos=1;\nmsg.retain=true;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 550,
    "y": 400,
    "wires": [["211c5cf5.50f9d4"]]
  },
  {
    "id": "746ccaa1.c4d514",
    "type": "mqtt in",
    "z": "60c386e2.489f18",
    "name": "command",
    "topic": "csro/aabbccddee01/airsys/set/temp",
    "qos": "1",
    "datatype": "utf8",
    "broker": "3bfc1b14.9d52b4",
    "x": 300,
    "y": 500,
    "wires": [["3c22405c.64f52"]]
  },
  {
    "id": "ae636a2f.1e8ae8",
    "type": "modbus-write",
    "z": "60c386e2.489f18",
    "name": "temp",
    "showStatusActivities": false,
    "showErrors": false,
    "unitid": "8",
    "dataType": "HoldingRegister",
    "adr": "2",
    "quantity": "1",
    "server": "c48167bc.b56978",
    "x": 710,
    "y": 600,
    "wires": [[], []]
  },
  {
    "id": "3c22405c.64f52",
    "type": "function",
    "z": "60c386e2.489f18",
    "name": "state",
    "func": "msg.payload=parseInt(msg.payload);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 510,
    "y": 500,
    "wires": [["69016187.e1125", "ae636a2f.1e8ae8"]]
  },
  {
    "id": "c48167bc.b56978",
    "type": "modbus-client",
    "z": "",
    "name": "MB_Simulator",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "tcpHost": "192.168.2.53",
    "tcpPort": "502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "unit_id": "8",
    "commandDelay": "10",
    "clientTimeout": "1000",
    "reconnectOnTimeout": true,
    "reconnectTimeout": "2000",
    "parallelUnitIdsAllowed": true
  },
  {
    "id": "3bfc1b14.9d52b4",
    "type": "mqtt-broker",
    "z": "",
    "name": "derekhome_mqtt_havc",
    "broker": "192.168.2.2",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "csro/climate/aabbccddee01_airsys/config",
    "birthQos": "1",
    "birthRetain": "true",
    "birthPayload": "{\"~\":\"csro/aabbccddee01/airsys\",\"unique_id\":\"airsys_aabbccddee01\",\"name\":\"airsys_aabbccddee01\",\"avty_t\":\"~/available\",\"pl_avail\":\"online\",\"pl_not_avail\":\"offline\",\"qos\":0,\"modes\":[\"off\",\"cool\",\"heat\",\"dry\",\"fan_only\"],\"fan_modes\":[\"自动\",\"静音\",\"低风\",\"中风\",\"高风\"],\"mode_stat_t\":\"~/state\",\"mode_stat_tpl\":\"{{value_json.state.mode}}\",\"mode_cmd_t\":\"~/set/mode\",\"temp_stat_t\":\"~/state\",\"temp_stat_tpl\":\"{{value_json.state.temp}}\",\"temp_cmd_t\":\"~/set/temp\",\"fan_mode_stat_t\":\"~/state\",\"fan_mode_stat_tpl\":\"{{value_json.state.fan}}\",\"fan_mode_cmd_t\":\"~/set/fan\",\"min_temp\":10,\"max_temp\":38,\"temp_step\":0.5}",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "csro/aabbccddee01/airsys/available",
    "willQos": "1",
    "willPayload": "offline"
  }
]
